body {
  background-color: black;
  font-family: "Arial", sans-serif; /* 기본 폰트 설정 */
  font-size: 16px;
  color: #333;
}

.main-logo{
  position: absolute;
  top: 10px;
  left: 20px;
}

.sub-logo{
  position: absolute;
  top: 300px;
  left: 20px;
}

.search-button{
  position: absolute;
  top: 343px;
  left: 590px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.search-box{
  position: absolute;
  top: 355px;
  left: 20px;
  width: 540px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-box:focus{
  border-color: #0056b3; /* 포커스 시 테두리 색 변경 */
  box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}

/* 스피너 감싸는 컨테이너 */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 스피너 자체 스타일 */
.custom-spinner>span {
  color: #ffffff; /* 스피너 색상 */
  width: 10px !important;
  height: 50px !important;
}
.loading-txt{
  position: absolute;
  color: white;
  top: 400px;
  font-size: 20px;
}